@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2');
  body{font-family: 'ChosunCentennial',sans-serif;
            color: #1c1c1c;
            padding: 1rem;
            line-height: 1.5;
            }
.button{
  background-color: #9b9b9b; 
    color: white; 
    border-radius: 3px; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 8px 11px;
}
#container{
  font-family: 'Galmuri14';
  
}

.button:active {
    background-color: #3e8e41; 
    transform: translateY(2px); 
}

.date {
  font-family: 'Galmuri14';
  text-align: center; 
}

.처음대사 {
  font-family: 'Galmuri14';
  font-size: 18px;
  color: #333333;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;

}
.세모{
  font-family: 'Galmuri14';
  text-decoration: none;
  font-size: 14px;
  color: #333333;
  text-align: center;
}
.말다음세모{
  display: inline-block
}


i {
  color: #696969;
}

.map{
  position: absolute
}

.map_container{
  max-width: 10px;
}

.map_image{
  width: 330px; 
  height: auto; 
  display: flex;
  justify-content: center;
  margin-top: -27px;
  margin-left: -10px;
}
    .answer{
          font-size: 14px;
          text-decoration: none;
          color: black;
          font-family: 'Galmuri14';
          cursor: pointer; 
          display: inline-block;
          transition: transform 0.2s ease-in-out
        }
        .answer:hover{
            transform: scale(1.1);
        }
        .answer:active{
            transform: scale(1.1);
        }
   #ask{
          font-family: 'Galmuri14';
          font-size: 16px;
          font-weight: bold;
        } 
  .item{
    text-align: center;
    font-weight: bold;
  }
  .point{
    color: rgb(255, 4, 4);
    text-decoration: none;
    
  }
  .sentence {
            font-size: 1.0rem;
            line-height: 2;
            margin-bottom: 2rem;
            font-family: 'Galmuri14';
            text-align: center;
        }
        .blank {
            display: inline-block;
            width: 70px;
            border-bottom: 2px solid #989898;
            margin: 0 5px;
        
        }
        .word-choices {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            border-top: 1px solid #ccc;
            padding-top: 1.5rem;
        }
        .word-switch {
            display: none;
        }
        .word-label {
            padding: 5px 15px;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.2s ease;
            border: 1px solid black;
            font-family: 'Galmuri14';
            font-size: 13px;
        }
        .word-switch:checked + .word-label {
            opacity: 0.5;
            cursor: not-allowed;
            box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
        }
        .next-page-link {
            display: none;
            margin-top: 2rem;
            text-align: center;
        }
        .next-page-link a {
            font-size: 0.9rem;
            color: #030303;
            text-decoration: none;
            font-family: 'Galmuri14';
        }
            #word-lock:checked ~ #word-conan:checked ~ #word-loud:checked ~ .next-page-link {
            display: block;
        }
         .answer1{
                text-decoration: none;
                font-family: 'Galmuri14';
                color: #1c1c1c;
                border: 1px solid black;
                padding: 4px 8px;
                width: 75px;
                text-align: center;
            }
            .button1{
                   justify-content: center;
                   display: flex;
                   gap: 20px;
                }
                 .answer1{
                text-decoration: none;
                font-family: 'Galmuri14';
                color: #1c1c1c;
                border: 1px solid black;
                padding: 4px 8px;
                width: 75px;
                text-align: center;
            }
            .button1{
                   justify-content: center;
                   display: flex;
                   gap: 20px;
                }
                 .answer1{
                text-decoration: none;
                font-family: 'Galmuri14';
                color: #1c1c1c;
                border: 1px solid black;
                padding: 4px 8px;
                width: 75px;
                text-align: center;
            }
            .button1{
                   justify-content: center;
                   display: flex;
                   gap: 20px;
                }
